body{
    background-image: url(wp1916209.jpg);
}
.login{
    background-color: white;
    margin-left: 450px;
    margin-right: 450px;
}
.reg{
    background-color: white;
    margin-left: 450px;
    margin-right: 450px;
}